<%= content_for :page_title do %>
    Contact
<% end %>
<h2>Contact Quintero Systems, Inc. for your software development projects.</h2>
<h3>We will be happy to discuss with you on how we can collaborate.</h3>
<div class="row">
  <div class="col-sm-5 col-md-3">
    <article itemscope itemtype="http://schema.org/Organization">
      <p>You may reach us by phone, within business hours (EST), fax or email:</p>
      <dl>
        <dt>
          Telephone
        </dt>
        <dd itemprop="tel">305-403-9582</dd>
        <dt>
          Fax
        </dt>
        <dd itemprop="fax">419-821-3190</dd>
        <dt>
          Email
        </dt>
        <dd itemprop="email">contact@quintsys.com</dd>
      </dl>
      <h4 itemprop="name"><strong>Quintero Systems, Inc.</strong></h4>
    </article>
  </div>
  <div class="col-sm-3 col-md-2 col-sm-offset-4 col-md-offset-7">
    <figure class="thumbnail">
      <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/1c8/263/3d6facc.jpg" alt="President & CEO" />
      <div class="caption">
        <p>Erich Quintero, Founder & CEO</p>
      </div>
    </figure>
  </div>
</div>