<footer id="PageFooter" class="container" role="contentinfo">
  <hr/>
  <ul class="list-inline">
    <li>
      <%= link_to 'Contact Us', :contact_us %>
    </li>
    <li>
      <%= link_to 'Blog', 'http://quintsys.wordpress.com/' %>
    </li>
    <li class="pull-right">&copy; <%= Time.now.year %> - Quintero Systems, Inc.</li>
  </ul>
</footer>