<header id="PageHeader">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Quintero Systems, Inc.', :root, {:class => 'navbar-brand'} %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to :services do %>
                <span class="glyphicon glyphicon-star"></span> Services
            <% end %>
          </li>
          <li>
            <%= link_to 'http://quintsys.wordpress.com/' do %>
                <span class="glyphicon glyphicon-bullhorn"></span> Blog
            <% end %>
          </li>
          <li>
            <%= link_to :contact_us do %>
                <span class="glyphicon glyphicon-envelope"></span> Contact Us
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>