<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('slide-load.png', {:'data-src' => '/assets/slider-launch.jpg', alt: 'Launch your project!'}) %>
      <div class="carousel-caption">
        <h3>Startups</h3>
        <p>Are you ready to LAUNCH?.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag('slide-load.png', {:'data-src' => '/assets/slider-security.jpg', alt: 'Secure Applications'}) %>
      <div class="carousel-caption">
        <h3>Web and Database Application Development</h3>
        <p>Secure applications, e-commerce, marketing and business in general.</p>
        <p>We design solutions using the latest technologies to meet your specifications.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag('slider-web-design.jpg', {:'data-src' => '/assets/slider-web-design.jpg', alt: 'Web Design'}) %>
      <div class="carousel-caption">
        <h3>Web apps for desktop and mobile</h3>
        <p>Pure web and native applications. Our stack covers all your development needs.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag('slide-load.png', {:'data-src' => '/assets/c-sharp.jpg', alt: 'Business Solutions'}) %>
      <div class="carousel-caption">
        <h3>Are you faced with a daunting project and don't know where to begin?</h3>
        <p>Let us put our proven expertise to your service. We provide technological solutions from a business conscious
          angle.</p>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<article>
  <header>
    <h2>We Create Software Solutions To Your Business Problems.</h2>
    <p>
      Quintero Systems, Inc. (formerly QuintSys, Inc) is a software development company. We specialize in creating
      technological solutions to complex business problems.
    </p>
  </header>
  <section>
    <p>
      We are involved in the design, development and deployment of large scale e-commerce systems for online retailers.
      We have been instrumental in many enterprise level applications with a strong emphasis on the research and
      implementation of lead acquisition and distribution systems
      for online marketing and online sales companies using call centers to reach their prospective clients.
    </p>
  </section>
</article>